<% if user_signed_in? %>
  <div class="row">
      <div class="col-md-8">
        <h2>今日のタスク</h2>
        <% if @tasks.any? %>
          <ol class="tasks">
            <%= render 'shared/show_tasks' %>
          </ol>
        <% else %>
          <p>今日のタスクはありません</p>
        <% end %>
      </div>
    </div>
<% else %>
<%= render 'layouts/home' %>
  <div class="center jumbotron">
     <h1>こんにちは <br>Pomodo Schedulerへ</h1>
  <%= link_to "新規作成", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>



