<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <p>
    <%= user.tasks.where(created_at: Time.zone.today.beginning_of_day..Time.zone.today.end_of_day).to_a.map { |task| task.set_number * task.task_time }.sum %>
  </p>
</li>
