.timer-container {
  width: 100%;
  margin-bottom: 50px;

  .info-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 183, 169);
    color: white;
    height: 80px;
    border-radius: 1rem;

    h1 {
      height: 40px;
      background-color: white;
      font-size: 20px;
      width: 35%;
      color: black;
      border-radius: 1rem;
    }

    #task-name {
      margin-right: 10%;
    }
  }

  .state-container {
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    width: 20%;
    text-align: center;
    height: 40px;
    border: solid 7px rgb(205, 183, 169);

    .task-state {
      float: right;
      margin: 0 auto;
      font-weight: bold;
    }
  }

  .time-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .time {
      margin: 1%;
      background-color: rgb(161, 91, 47);
      border-radius: 1rem;
      padding: 5%;
    }

    #hour,#minute,#second {
      color: white;
      font-size: 3rem;
      margin-right: 1rem;
    }
  }
}

#button {
  display: none;
  margin: 0 auto;
  margin-top: 50px;
  width: 60%;
}