.timer {
  background-color: black;
  height: 80px;
  display: inline-block;
  width: 500px;
  text-align: center;
  border-radius: 15px;

  .container {
    display: inline-block;
    height: 60px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    text-align: center;
    border-radius: 15px;

    .row {
      width: 100%;
      margin: 0 auto;
      height: 60px;
      text-align: center;
      
      .num {
        text-align: center;
        font-size: 40px;
      }

      .unit {
        font-size: 40px;
      }
    }
  }
}