<footer class="footer foo-font container">
  <small>
    Pomodo Scheduler @魁！！
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/' %></li>
      <li><%= link_to "Contact", '/' %></li>
    </ul>
  </nav>
</footer>
