<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <!-- Masthead-->
  <header class="masthead foo-font">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">ようこそ!
            <br>
             Pomodo Schedulerへ</h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 mb-5">あなたの『おはよう！こんにちは！おやすみ！』を有意義に
            <br>
            あなたの1日を可視化します</p>
          <%= link_to "新規作成", new_user_registration_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
  </header>
  <!-- Services-->
  <section class="page-section foo-font" id="services">
    <div class="container px-4 px-lg-5 ">
      <h2 class="text-center mt-0">Pomodo Schedulerで出来ること</h2>
      <hr class="divider" />
      <div class="row gx-4 gx-lg-5">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Visualize Time</h3>
            <p class="text-muted mb-0">1日の時間を可視化することが可能</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Timer & Study log</h3>
            <p class="text-muted mb-0">タイマー機能と勉強記録用のアプリケーション</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Pomodoro Technique</h3>
            <p class="text-muted mb-0">25 分間の作業の後、5 分間の休憩を取ります。作業と休憩のセッションを交互に繰り返します。</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Productivity</h3>
            <p class="text-muted mb-0">短時間のセッションで作業を集中的に行うことで、生産性を高めつつ、モチベーションを維持できます。</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
